*.js
!jest.config.js
*.d.ts
node_modules

.DS_Store

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache
/cdk.context.json
.idea
/cdk/cdk.context.json

cloud-gaming-on-ec2-instances.iml
keys
*.pem
